#root {
  background-color: #F4F7FF;
}

.ai-suggestions-icon {
  position: absolute;
  bottom: 6px;
  right: 10px;
  width: 16px;
  height: 18px;
}

.dashboard-wrapper {

  .course-card {
    max-height: 150px !important;
    
    .pgn__card .pgn__card-wrapper-image-cap.horizontal .pgn__card-image-cap {
      border-radius: 1rem !important;
    }
    
    .pgn__card .pgn__card-wrapper-image-cap.horizontal {
      width: 240px !important;
      height: 120px !important;
    }
    
    .pgn__card-header-actions {
      display: none !important;
    }
    
    .mtop {
      margin-top: -2rem !important;
    }
    
    .btn-primary {
      background-color: #2B2399;
      border-color: #2B2399;
    }
  }
}